.color-info {
  border: 5px solid black;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

.nav {
  text-align: left;
}

.nav li {
  background-color: black;
  color: white;
}

ul.nav li {
  display: inline-block;
  padding-right: 10px;
}

header {
  text-align: center;
  background: url('./road.jpeg');
  background-size: cover;
  height: 600px;
  color: white;
  position: relative;
}

#logo {
  vertical-align: bottom;
  bottom: 4%;
  margin-left: -5%;
  position: absolute;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
}

img {
  border: 7px solid white;
  border-radius: 20px;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.column {
  float: left;
  width: 25%;
}
.circle{
  width:20%;
  border-radius:50%;
  text-align:center;
  font-size: 12px;
  padding:10% 0;
  line-height:0;
  position:relative;
  background: gainsboro;
  color: black;
  font-family: Helvetica, Arial Black, sans;
}

p {
  display: inline-block;
  font-family: 'Lobster', cursive;
  top: 7px;
  background: gainsboro;
  border-radius: 50%;
  font-size: 3em;
}
