.color-info {
  border: 5px solid black;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

.nav {
  text-align: left;
}

.nav li {
  background-color: black;
  color: white;
}

ul.nav li {
  display: inline-block;
  padding-right: 10px;
}

header {
  text-align: center;
  height: 600px;
  color: white;
  position: relative;
}
body {
  background: url('./road.jpg');
  background-size: auto;
}
#logo {
  vertical-align: bottom;
  bottom: 4%;
  margin-left: -5%;
  position: absolute;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
}

img {
  border: 7px solid white;
  border-radius: 20px;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.row {
  text-align: center;
}
.column {
  float:left;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 20px 16px;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background: gainsboro;
    color: black;
    line-height: 1.3333333;
    border-radius: 6px;
}
